<a href="https://colab.research.google.com/github/cleisonlima/Analises_de_Dados_Python/blob/main/Extra%C3%A7%C3%A3o_e_valida%C3%A7%C3%A3o_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import pandera as pa

pip install pandera # Instalação de pacotes pandera

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/ocorrencias.csv", sep=";", parse_dates=['ocorrencia_dia'], dayfirst=True)

In [ ]:
df.head(10)

   codigo_ocorrencia  ...  total_recomendacoes
0              40211  ...                    0
1              40349  ...                    0
2              40351  ...                    0
3              39527  ...                    0
4              40324  ...                    0
5              39807  ...                    0
6              40215  ...                    0
7              39707  ...                    3
8              39156  ...                    2
9              39711  ...                    0

[10 rows x 10 columns]

In [ ]:
schema = pa.DataFrameSchema(
    columns = {
        "codigo_ocorrencia":pa.Column(pa.Int), # Verfica se os dados são do tipo initeiros
        "codigo_ocorrencia2": pa.Column(pa.Int),
        "ocorrencia_classificacao": pa.Column(pa.String),
        "ocorrencia_cidade": pa.Column(pa.String),
        "ocorrencia_uf": pa.Column(pa.String, pa.Check.str_length(2,2)), # Informamos o mínimo ou o máximo de caracteres
        "ocorrencia_aerodromo": pa.Column(pa.String),
        "ocorrencia_dia": pa.Column(pa.DateTime),
        "ocorrencia_hora": pa.Column(pa.String, pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$'),nullable=True), # Encontrado valores nulos na coluna
        "total_recomendacoes": pa.Column(pa.Int)
    
    }
)

In [ ]:
schema.validate(df)

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
1                 40349  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
4                 40324  ...                    0
...                 ...  ...                  ...
6109              80245  ...                    0
6110              80247  ...                    0
6111              80251  ...                    0
6112              80257  ...                    0
6113              80259  ...                    0

[6114 rows x 10 columns]

In [ ]:
df.dtypes
df.ocorrencia_dia.dt.month

0       1
1       1
2       1
3       1
4       1
       ..
6109    8
6110    8
6111    8
6112    8
6113    8
Name: ocorrencia_dia, Length: 6114, dtype: int64

In [ ]:
df.dtypes # Verificar os tipos de dados

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
investigacao_status                 object
total_recomendacoes                  int64
dtype: object