<a href="https://colab.research.google.com/github/cleisonlima/Analises_de_Dados_Python/blob/main/Limpeza_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/ocorrencias.csv", sep=";", parse_dates=["ocorrencia_dia"])
df.head()

   codigo_ocorrencia  ...  total_recomendacoes
0              40211  ...                    0
1              40349  ...                    0
2              40351  ...                    0
3              39527  ...                    0
4              40324  ...                    0

[5 rows x 10 columns]

In [ ]:
df.dtypes # Verificando os tipos de dados

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
investigacao_status                 object
total_recomendacoes                  int64
dtype: object

In [ ]:
df.loc[1,'ocorrencia_cidade'] # Linha e coluna

'BELÉM'

In [ ]:
df.loc[1:3] # linha 1 até a 3

   codigo_ocorrencia  ...  total_recomendacoes
1              40349  ...                    0
2              40351  ...                    0
3              39527  ...                    0

[3 rows x 10 columns]

In [ ]:
df.loc[:,'ocorrencia_cidade'] # Todas as linhas da coluna

0           RIO DE JANEIRO
1                    BELÉM
2           RIO DE JANEIRO
3       LUCAS DO RIO VERDE
4                  PELOTAS
               ...
6109                RECIFE
6110           PORTO VELHO
6111                 BELÉM
6112            DOM AQUINO
6113              CAMPINAS
Name: ocorrencia_cidade, Length: 6114, dtype: object

In [ ]:
df.loc[[10,40]] # linhas 10 e 40

    codigo_ocorrencia  ...  total_recomendacoes
10              39789  ...                    0
40              39158  ...                    0

[2 rows x 10 columns]

In [ ]:
df.codigo_ocorrencia.is_unique # Verificando se os valores da coluna são únicos

True

In [ ]:
df.set_index('codigo_ocorrencia', inplace=True) # Fazendo com que os valores da coluna selecionada se torne o indice.

In [ ]:
df.head()

                   codigo_ocorrencia2  ... total_recomendacoes
codigo_ocorrencia                      ...
40211                           40211  ...                   0
40349                           40349  ...                   0
40351                           40351  ...                   0
39527                           39527  ...                   0
40324                           40324  ...                   0

[5 rows x 9 columns]

In [ ]:
df.loc[40324] # localizando os dados por meio do indice

codigo_ocorrencia2                        40324
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                       PELOTAS
ocorrencia_uf                                RS
ocorrencia_aerodromo                       SBPK
ocorrencia_dia              2010-05-01 00:00:00
ocorrencia_hora                        19:25:00
investigacao_status                  FINALIZADA
total_recomendacoes                           0
Name: 40324, dtype: object

In [ ]:
df.reset_index(drop=True, inplace=True) # Realizando o reset do indice

In [ ]:
df.head()

   codigo_ocorrencia2  ... total_recomendacoes
0               40211  ...                   0
1               40349  ...                   0
2               40351  ...                   0
3               39527  ...                   0
4               40324  ...                   0

[5 rows x 9 columns]

In [ ]:
df.loc[0,'ocorrencia_aerodromo'] = '' # Alterando o dado para vasio

In [ ]:
df.head(1)

   codigo_ocorrencia2  ... total_recomendacoes
0               40211  ...                   0

[1 rows x 9 columns]

In [ ]:
df.loc[0,'ocorrencia_aerodromo'] = 20 # alterando o valor

In [ ]:
df.head(1)

   codigo_ocorrencia2  ... total_recomendacoes
0               40211  ...                   0

[1 rows x 9 columns]

In [ ]:
df.loc[:, 'total_recomendacoes'] = 10

In [ ]:
df.head(10)

   codigo_ocorrencia2  ... total_recomendacoes
0               40211  ...                  10
1               40349  ...                  10
2               40351  ...                  10
3               39527  ...                  10
4               40324  ...                  10
5               39807  ...                  10
6               40215  ...                  10
7               39707  ...                  10
8               39156  ...                  10
9               39711  ...                  10

[10 rows x 9 columns]

In [ ]:
df.loc[df.ocorrencia_uf == 'SP', ['ocorrencia_classificacao']] = 'GRAVE' # Alterando os dados de uma coluna ou linha para a outros nomes

In [ ]:
df

      codigo_ocorrencia2  ... total_recomendacoes
0                  40211  ...                  10
1                  40349  ...                  10
2                  40351  ...                  10
3                  39527  ...                  10
4                  40324  ...                  10
...                  ...  ...                 ...
6109               80245  ...                  10
6110               80247  ...                  10
6111               80251  ...                  10
6112               80257  ...                  10
6113               80259  ...                  10

[6114 rows x 9 columns]

In [ ]:
df

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
1                 40349  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
4                 40324  ...                    0
...                 ...  ...                  ...
6109              80245  ...                    0
6110              80247  ...                    0
6111              80251  ...                    0
6112              80257  ...                    0
6113              80259  ...                    0

[6114 rows x 10 columns]

ocorrencia_uf
**
ocorrencia_aerodromo
###!
####
****
*****
ocorrencia_hora
NULL

In [ ]:
df.head()

   codigo_ocorrencia  ...  total_recomendacoes
0              40211  ...                    0
1              40349  ...                    0
2              40351  ...                    0
3              39527  ...                    0
4              40324  ...                    0

[5 rows x 10 columns]

In [ ]:
df.loc[df.ocorrencia_aerodromo == '****', ['ocorrencia_aerodromo']] = pd.NA # Atribuindo valor não informado

In [ ]:
df.head()

   codigo_ocorrencia  ...  total_recomendacoes
0              40211  ...                    0
1              40349  ...                    0
2              40351  ...                    0
3              39527  ...                    0
4              40324  ...                    0

[5 rows x 10 columns]

In [ ]:
df.replace(['**','###!','####','****','*****','NULL'], pd.NA, inplace=True) # Substitui os valores por dados não informados

/usr/local/lib/python3.7/dist-packages/pandas/core/missing.py:49: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask = arr == x
/usr/local/lib/python3.7/dist-packages/pandas/core/missing.py:60: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= arr == x

In [ ]:
df.head()

   codigo_ocorrencia  ...  total_recomendacoes
0              40211  ...                    0
1              40349  ...                    0
2              40351  ...                    0
3              39527  ...                    0
4              40324  ...                    0

[5 rows x 10 columns]

In [ ]:
df.fillna(0,inplace=True)

In [ ]:
df.isna().sum() # Contabiliza quantidade de dados não informados em cada coluna

codigo_ocorrencia           0
codigo_ocorrencia2          0
ocorrencia_classificacao    0
ocorrencia_cidade           0
ocorrencia_uf               0
ocorrencia_aerodromo        0
ocorrencia_dia              0
ocorrencia_hora             0
investigacao_status         0
total_recomendacoes         0
dtype: int64

In [ ]:
df.fillna(0) # Coloca o valor 0 nos valores não informados em todas as colunas

In [ ]:
df.fillna(value={'total_recomendacoes':10}, inplace=True) # Substituindo valores de uma determinada coluna

In [ ]:
df.isnull().sum()

codigo_ocorrencia           0
codigo_ocorrencia2          0
ocorrencia_classificacao    0
ocorrencia_cidade           0
ocorrencia_uf               0
ocorrencia_aerodromo        0
ocorrencia_dia              0
ocorrencia_hora             0
investigacao_status         0
total_recomendacoes         0
dtype: int64

In [ ]:
df['teste'] = df.total_recomendacoes # Criando uma coluna nova e copiando os arquivos para a mesma.

In [ ]:
df.head()

   codigo_ocorrencia  codigo_ocorrencia2  ... total_recomendacoes teste
0              40211               40211  ...                   0     0
1              40349               40349  ...                   0     0
2              40351               40351  ...                   0     0
3              39527               39527  ...                   0     0
4              40324               40324  ...                   0     0

[5 rows x 11 columns]

In [ ]:
df.drop(['teste'], axis=1, inplace=True)

In [ ]:
df.drop_duplicates() # exclusão de valores duplicados