<a href="https://colab.research.google.com/github/cleisonlima/Analises_de_Dados_Python/blob/main/Transforma%C3%A7%C3%A3o_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
import pandera as pa

In [12]:
pip install pandera

Requirement already satisfied: pandera in /usr/local/lib/python3.7/dist-packages (0.7.2)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.1.5)
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from pandera) (1.12.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pandera) (3.7.4.3)
Requirement already satisfied: typing-inspect>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (0.7.1)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (21.0)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (from pandera) (3.0.0)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.19.5)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->pandera) (2.4.7)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->pandera) (1.15.0)
Requirement already satisfied: mypy-extensions>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from typing-inspect>=0.6.0->pandera) (0.4.3)

In [13]:
valores_ausentes = ['**','***','###!','####','****','*****','NULL']
df = pd.read_csv("/content/ocorrencias.csv", sep=";", parse_dates=["ocorrencia_dia"], dayfirst=True, na_values=valores_ausentes)
df.head()

   codigo_ocorrencia  ...  total_recomendacoes
0              40211  ...                    0
1              40349  ...                    0
2              40351  ...                    0
3              39527  ...                    0
4              40324  ...                    0

[5 rows x 10 columns]

In [14]:
schema = pa.DataFrameSchema(
    columns = {
        "codigo_ocorrencia":pa.Column(pa.Int), # Verfica se os dados são do tipo initeiros
        "codigo_ocorrencia2": pa.Column(pa.Int),
        "ocorrencia_classificacao": pa.Column(pa.String),
        "ocorrencia_cidade": pa.Column(pa.String),
        "ocorrencia_uf": pa.Column(pa.String, pa.Check.str_length(2,2), nullable=True), # Informamos o mínimo ou o máximo de caracteres
        "ocorrencia_aerodromo": pa.Column(pa.String, nullable=True),
        "ocorrencia_dia": pa.Column(pa.DateTime),
        "ocorrencia_hora": pa.Column(pa.String, pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$'),nullable=True), # Encontrado valores nulos na coluna
        "total_recomendacoes": pa.Column(pa.Int)
    
    }
)

In [15]:
schema.validate(df)

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
1                 40349  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
4                 40324  ...                    0
...                 ...  ...                  ...
6109              80245  ...                    0
6110              80247  ...                    0
6111              80251  ...                    0
6112              80257  ...                    0
6113              80259  ...                    0

[6114 rows x 10 columns]

In [16]:
df.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
investigacao_status                 object
total_recomendacoes                  int64
dtype: object

In [17]:
df.loc[1]

codigo_ocorrencia                         40349
codigo_ocorrencia2                        40349
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                         BELÉM
ocorrencia_uf                                PA
ocorrencia_aerodromo                       SBBE
ocorrencia_dia              2010-01-03 00:00:00
ocorrencia_hora                        11:05:00
investigacao_status                  FINALIZADA
total_recomendacoes                           0
Name: 1, dtype: object

In [18]:
df.iloc[-1]

codigo_ocorrencia                         80259
codigo_ocorrencia2                        80259
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                      CAMPINAS
ocorrencia_uf                                SP
ocorrencia_aerodromo                       SBKP
ocorrencia_dia              2021-08-18 00:00:00
ocorrencia_hora                        12:45:00
investigacao_status                  FINALIZADA
total_recomendacoes                           0
Name: 6113, dtype: object

In [19]:
df.tail()

      codigo_ocorrencia  ...  total_recomendacoes
6109              80245  ...                    0
6110              80247  ...                    0
6111              80251  ...                    0
6112              80257  ...                    0
6113              80259  ...                    0

[5 rows x 10 columns]

In [20]:
df.iloc[10:15] # Trabalhando com Indices

    codigo_ocorrencia  ...  total_recomendacoes
10              39789  ...                    0
11              40069  ...                    8
12              40414  ...                    0
13              39507  ...                    2
14              40107  ...                    0

[5 rows x 10 columns]

In [21]:
df.loc[10:15] # trabalhando com labels

    codigo_ocorrencia  ...  total_recomendacoes
10              39789  ...                    0
11              40069  ...                    8
12              40414  ...                    0
13              39507  ...                    2
14              40107  ...                    0
15              39315  ...                    0

[6 rows x 10 columns]

In [22]:
df.loc[:,'ocorrencia_uf']

0       RJ
1       PA
2       RJ
3       MT
4       RS
        ..
6109    PE
6110    RO
6111    PA
6112    MT
6113    SP
Name: ocorrencia_uf, Length: 6114, dtype: object

In [23]:
df['ocorrencia_uf']

0       RJ
1       PA
2       RJ
3       MT
4       RS
        ..
6109    PE
6110    RO
6111    PA
6112    MT
6113    SP
Name: ocorrencia_uf, Length: 6114, dtype: object

In [24]:
df.isna().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  2
ocorrencia_aerodromo        2456
ocorrencia_dia                 0
ocorrencia_hora                1
investigacao_status          341
total_recomendacoes            0
dtype: int64

In [25]:
df.isnull().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  2
ocorrencia_aerodromo        2456
ocorrencia_dia                 0
ocorrencia_hora                1
investigacao_status          341
total_recomendacoes            0
dtype: int64

In [26]:
df.loc[df.ocorrencia_uf.isnull()] # procurando valores nulos na coluna especificada

      codigo_ocorrencia  ...  total_recomendacoes
2227              49474  ...                    0
5855              79956  ...                    0

[2 rows x 10 columns]

In [27]:
filtro = df.ocorrencia_uf.isnull()
df.loc[filtro] # procurando arquivos nulos de outra forma

      codigo_ocorrencia  ...  total_recomendacoes
2227              49474  ...                    0
5855              79956  ...                    0

[2 rows x 10 columns]

In [28]:
df.count() # contagens de valores * não conta os valores nulos

codigo_ocorrencia           6114
codigo_ocorrencia2          6114
ocorrencia_classificacao    6114
ocorrencia_cidade           6114
ocorrencia_uf               6112
ocorrencia_aerodromo        3658
ocorrencia_dia              6114
ocorrencia_hora             6113
investigacao_status         5773
total_recomendacoes         6114
dtype: int64

In [29]:
# ocorrências com mais de 10 recomendações
filtro = df.total_recomendacoes > 10
df.loc[filtro, ['ocorrencia_cidade','total_recomendacoes']]

         ocorrencia_cidade  total_recomendacoes
63               SÃO PAULO                   11
326         RIO DE JANEIRO                   19
530              SÃO PAULO                   11
727               ITÁPOLIS                   11
872                 RECIFE                   23
884   SÃO JOSÉ DOS PINHAIS                   11
1062            UBERLÂNDIA                   20
1972              BRASÍLIA                   11
2797                SANTOS                   13
3932               VITÓRIA                   12

In [30]:
#ocorrência cuja classificação == INCIDENTE GRAVE
filtro = df.ocorrencia_classificacao == 'INCIDENTE GRAVE'
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
7                 39707  ...                    3
8                 39156  ...                    2
9                 39711  ...                    0
29                39709  ...                    2
35                39487  ...                    0
...                 ...  ...                  ...
6090              80221  ...                    0
6095              80228  ...                    0
6097              80231  ...                    0
6098              80248  ...                    0
6104              80238  ...                    0

[791 rows x 10 columns]

In [31]:
#ocorrência cuja classificação == INCIDENTE GRAVE e o estado == SP
filtro = df.ocorrencia_classificacao == 'INCIDENTE GRAVE'
filtro2 = df.ocorrencia_uf == 'SP'
df.loc[filtro & filtro2]

      codigo_ocorrencia  ...  total_recomendacoes
136               40270  ...                    0
171               40620  ...                    0
219               41411  ...                    2
297               42289  ...                    0
314               42323  ...                    0
...                 ...  ...                  ...
5949              80056  ...                    0
6000              80114  ...                    0
6007              80124  ...                    0
6081              80200  ...                    0
6104              80238  ...                    0

[145 rows x 10 columns]

In [32]:
#ocorrência cuja classificação == INCIDENTE GRAVE ou estado == SP
filtro = df.ocorrencia_classificacao == 'INCIDENTE GRAVE'
filtro2 = df.ocorrencia_uf == 'SP'
df.loc[filtro | filtro2]

      codigo_ocorrencia  ...  total_recomendacoes
7                 39707  ...                    3
8                 39156  ...                    2
9                 39711  ...                    0
11                40069  ...                    8
16                39809  ...                    0
...                 ...  ...                  ...
6097              80231  ...                    0
6098              80248  ...                    0
6104              80238  ...                    0
6108              80244  ...                    0
6113              80259  ...                    0

[2110 rows x 10 columns]

In [33]:
#ocorrência cuja classificação == INCIDENTE GRAVE ou classificação == INCIDENTE e o estado == SP
filtro = (df.ocorrencia_classificacao == 'INCIDENTE GRAVE') | (df.ocorrencia_classificacao == 'INCIDENTE')
filtro2 = df.ocorrencia_uf == 'SP'
df.loc[filtro | filtro2]

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
1                 40349  ...                    0
2                 40351  ...                    0
4                 40324  ...                    0
5                 39807  ...                    0
...                 ...  ...                  ...
6108              80244  ...                    0
6109              80245  ...                    0
6110              80247  ...                    0
6111              80251  ...                    0
6113              80259  ...                    0

[4590 rows x 10 columns]

In [34]:
# Ocorrências cuja cidade comecem com a letra C
filtro = df.ocorrencia_cidade.str[0] == 'C'
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
6                 40215  ...                    0
7                 39707  ...                    3
8                 39156  ...                    2
15                39315  ...                    0
20                40310  ...                    0
...                 ...  ...                  ...
6094              80225  ...                    0
6097              80231  ...                    0
6098              80248  ...                    0
6100              80235  ...                    0
6113              80259  ...                    0

[895 rows x 10 columns]

In [35]:
# Ocorrências cuja cidade terminam com A
filtro = df.ocorrencia_cidade.str[-1] == 'A'
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
7                 39707  ...                    3
12                40414  ...                    0
15                39315  ...                    0
25                39772  ...                    0
26                39847  ...                    0
...                 ...  ...                  ...
6093              80227  ...                    0
6094              80225  ...                    0
6102              80240  ...                    0
6104              80238  ...                    0
6108              80244  ...                    0

[1642 rows x 10 columns]

In [37]:
# Ocorrências cuja cidade terminam com os caracteres MA
filtro = df.ocorrencia_cidade.str[-2:] == 'MA'
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
7                 39707  ...                    3
15                39315  ...                    0
408               43062  ...                    1
688               44198  ...                    0
1035              51785  ...                    0
1377              45939  ...                    0
1401              46180  ...                    0
2099              49113  ...                    4
2102              48799  ...                    0
2646              80059  ...                    0
2657              51347  ...                    0
2857              52340  ...                    1
2968              52832  ...                    0
2999              52979  ...                    0
3042              52984  ...                    0
3094              53596  ...                    0
3159              53223  ...                    0
3173              53265  ...                    2
3191              53271  ...                    0
3684              65414  ...                    1
3727              65633  ...                    0
3883              66265  ...                    0
4231              77371  ...                    1
4313              77612  ...                    0
4576              78080  ...                    0
4987              78867  ...                    0
5071              78923  ...                    0
5081              78782  ...                    0
5406              79282  ...                    0
5441              79338  ...                    0
5475              79400  ...                    0
5759              79823  ...                    0
5776              79820  ...                    0
5778              79830  ...                    0
5861              79943  ...                    0
6093              80227  ...                    0

[36 rows x 10 columns]

In [38]:
# Ocorrências cuja cidade contém os caracteres MA (Contem em qualquer parte do conteúdo)
filtro = df.ocorrencia_cidade.str.contains('MA')
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
7                 39707  ...                    3
13                39507  ...                    2
15                39315  ...                    0
35                39487  ...                    0
78                39916  ...                    2
...                 ...  ...                  ...
6075              80205  ...                    0
6086              80212  ...                    0
6090              80221  ...                    0
6093              80227  ...                    0
6106              80249  ...                    0

[514 rows x 10 columns]

In [39]:
# Ocorrências cuja cidade contém os caracteres MA e AL(Contem em qualquer parte do conteúdo)
filtro = df.ocorrencia_cidade.str.contains('MA|AL')
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
5                 39807  ...                    0
7                 39707  ...                    3
13                39507  ...                    2
15                39315  ...                    0
17                39810  ...                    0
...                 ...  ...                  ...
6075              80205  ...                    0
6086              80212  ...                    0
6090              80221  ...                    0
6093              80227  ...                    0
6106              80249  ...                    0

[954 rows x 10 columns]

In [41]:
# Ocorrências do ano de 2015
filtro = df.ocorrencia_dia.dt.year == 2015
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
2998              52992  ...                    3
2999              52979  ...                    0
3000              53073  ...                    0
3001              53074  ...                    0
3002              52976  ...                    6
...                 ...  ...                  ...
3464              60632  ...                    0
3465              60600  ...                    0
3466              60642  ...                    0
3467              60631  ...                    2
3468              60649  ...                    0

[471 rows x 10 columns]

In [43]:
# Ocorrências do ano de 2015 e mês 12
filtro1 = df.ocorrencia_dia.dt.year == 2015
filtro2 = df.ocorrencia_dia.dt.month == 12
df.loc[filtro1 & filtro2]

      codigo_ocorrencia  ...  total_recomendacoes
3430              53573  ...                    0
3431              60601  ...                    0
3432              53634  ...                    0
3433              53636  ...                    0
3434              53575  ...                    0
3435              60637  ...                    0
3436              53625  ...                    3
3437              53626  ...                    1
3438              53628  ...                    1
3439              53629  ...                    0
3440              53631  ...                    0
3441              60636  ...                    0
3442              53627  ...                    0
3443              60604  ...                    0
3444              60611  ...                    0
3445              60613  ...                    0
3446              60629  ...                    0
3447              53630  ...                    0
3448              60603  ...                    0
3449              60612  ...                    0
3450              60783  ...                    3
3451              53639  ...                    0
3452              60609  ...                    0
3453              60616  ...                    0
3454              60620  ...                    4
3455              60645  ...                    0
3456              60608  ...                    0
3457              60625  ...                    1
3458              60605  ...                    0
3459              60610  ...                    0
3460              60602  ...                    0
3461              60615  ...                    0
3462              60640  ...                    0
3463              60641  ...                    0
3464              60632  ...                    0
3465              60600  ...                    0
3466              60642  ...                    0
3467              60631  ...                    2
3468              60649  ...                    0

[39 rows x 10 columns]

In [46]:
# Ocorrências do ano de 2015 e mês 12 e dia 8
filtro1 = df.ocorrencia_dia.dt.year == 2015
filtro2 = df.ocorrencia_dia.dt.month == 12
filtro3 = df.ocorrencia_dia.dt.day == 8
df.loc[filtro1 & filtro2 & filtro3]

      codigo_ocorrencia  ...  total_recomendacoes
3438              53628  ...                    1
3439              53629  ...                    0
3440              53631  ...                    0
3441              60636  ...                    0

[4 rows x 10 columns]

In [52]:
# Ocorrências do ano de 2015 e mês 12 e dias entre 3 e 8
filtro_ano = df.ocorrencia_dia.dt.year == 2015
filtro_mes = df.ocorrencia_dia.dt.month == 12
filtro_dia_inicio = df.ocorrencia_dia.dt.day > 2
filtro_dia_fim = df.ocorrencia_dia.dt.day < 9
df.loc[filtro_ano & filtro_mes & filtro_dia_inicio & filtro_dia_fim]

      codigo_ocorrencia  ...  total_recomendacoes
3434              53575  ...                    0
3435              60637  ...                    0
3436              53625  ...                    3
3437              53626  ...                    1
3438              53628  ...                    1
3439              53629  ...                    0
3440              53631  ...                    0
3441              60636  ...                    0

[8 rows x 10 columns]

In [58]:
df['ocorrencia_dia_hora'] = pd.to_datetime(df.ocorrencia_dia.astype(str) + ' ' + df.ocorrencia_hora) # unindo colunas

In [59]:
df.head()

   codigo_ocorrencia  ...  ocorrencia_dia_hora
0              40211  ...  2010-01-03 12:00:00
1              40349  ...  2010-01-03 11:05:00
2              40351  ...  2010-01-03 03:00:00
3              39527  ...  2010-01-04 17:30:00
4              40324  ...  2010-01-05 19:25:00

[5 rows x 11 columns]

In [60]:
df.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
investigacao_status                 object
total_recomendacoes                  int64
ocorrencia_dia_hora         datetime64[ns]
dtype: object

In [56]:
df.ocorrencia_dia.astype(str) + ' ' + df.ocorrencia_hora

0       2010-01-03 12:00:00
1       2010-01-03 11:05:00
2       2010-01-03 03:00:00
3       2010-01-04 17:30:00
4       2010-01-05 19:25:00
               ...
6109    2021-08-15 15:05:00
6110    2021-08-16 02:30:00
6111    2021-08-17 15:45:00
6112    2021-08-18 16:00:00
6113    2021-08-18 12:45:00
Length: 6114, dtype: object

In [62]:
#Fitro por hora
filtro1 = df.ocorrencia_dia_hora >= ' 2010-01-03 11:00:00' 
filtro2 = df.ocorrencia_dia_hora <= '2010-01-03 13:00:00'
df.loc[filtro1 & filtro2]

   codigo_ocorrencia  ...  ocorrencia_dia_hora
0              40211  ...  2010-01-03 12:00:00
1              40349  ...  2010-01-03 11:05:00

[2 rows x 11 columns]

In [65]:
#ocorrências do ano de 2015 e mês 3
filtro1 = df.ocorrencia_dia.dt.year == 2015
filtro2 = df.ocorrencia_dia.dt.month == 3
df201503 = df.loc[filtro1 & filtro2]
df201503

      codigo_ocorrencia  ...  ocorrencia_dia_hora
3088              53183  ...  2015-03-02 23:00:00
3089              53120  ...  2015-03-04 13:30:00
3090              53109  ...  2015-03-05 13:50:00
3091              53112  ...  2015-03-06 21:00:00
3092              53152  ...  2015-03-10 11:30:00
3093              53167  ...  2015-03-10 17:33:00
3094              53596  ...  2015-03-10 21:35:00
3095              53149  ...  2015-03-11 23:25:00
3096              53148  ...  2015-03-12 12:40:00
3097              53153  ...  2015-03-13 15:45:00
3098              53154  ...  2015-03-13 14:40:00
3099              53238  ...  2015-03-13 11:30:00
3100              53189  ...  2015-03-14 07:20:00
3101              53193  ...  2015-03-14 18:00:00
3102              53164  ...  2015-03-15 18:30:00
3103              53151  ...  2015-03-16 18:07:00
3104              53168  ...  2015-03-16 21:05:00
3105              53169  ...  2015-03-19 03:25:00
3106              53165  ...  2015-03-20 14:35:00
3107              53188  ...  2015-03-20 21:00:00
3108              53184  ...  2015-03-22 13:44:00
3109              53178  ...  2015-03-23 17:15:00
3110              53182  ...  2015-03-23 20:40:00
3111              53166  ...  2015-03-24 14:45:00
3112              53170  ...  2015-03-24 17:57:00
3113              53185  ...  2015-03-24 23:01:00
3114              53412  ...  2015-03-24 16:35:00
3115              53194  ...  2015-03-26 20:30:00
3116              53186  ...  2015-03-27 14:55:00
3117              53179  ...  2015-03-28 10:30:00
3118              53180  ...  2015-03-28 18:52:00
3119              53190  ...  2015-03-28 16:26:00
3120              53212  ...  2015-03-28 17:32:00
3121              53213  ...  2015-03-28 15:51:00
3122              53181  ...  2015-03-29 20:17:00
3123              53187  ...  2015-03-29 18:36:00
3124              53211  ...  2015-03-30 19:40:00

[37 rows x 11 columns]

In [67]:
df201503.count()

codigo_ocorrencia           37
codigo_ocorrencia2          37
ocorrencia_classificacao    37
ocorrencia_cidade           37
ocorrencia_uf               37
ocorrencia_aerodromo        21
ocorrencia_dia              37
ocorrencia_hora             37
investigacao_status         35
total_recomendacoes         37
ocorrencia_dia_hora         37
dtype: int64

In [69]:
df201503.groupby(['codigo_ocorrencia']).count()

                   codigo_ocorrencia2  ...  ocorrencia_dia_hora
codigo_ocorrencia                      ...
53109                               1  ...                    1
53112                               1  ...                    1
53120                               1  ...                    1
53148                               1  ...                    1
53149                               1  ...                    1
53151                               1  ...                    1
53152                               1  ...                    1
53153                               1  ...                    1
53154                               1  ...                    1
53164                               1  ...                    1
53165                               1  ...                    1
53166                               1  ...                    1
53167                               1  ...                    1
53168                               1  ...                    1
53169                               1  ...                    1
53170                               1  ...                    1
53178                               1  ...                    1
53179                               1  ...                    1
53180                               1  ...                    1
53181                               1  ...                    1
53182                               1  ...                    1
53183                               1  ...                    1
53184                               1  ...                    1
53185                               1  ...                    1
53186                               1  ...                    1
53187                               1  ...                    1
53188                               1  ...                    1
53189                               1  ...                    1
53190                               1  ...                    1
53193                               1  ...                    1
53194                               1  ...                    1
53211                               1  ...                    1
53212                               1  ...                    1
53213                               1  ...                    1
53238                               1  ...                    1
53412                               1  ...                    1
53596                               1  ...                    1

[37 rows x 10 columns]

In [70]:
df201503.groupby(['ocorrencia_classificacao']).size().sort_values(ascending=False)

ocorrencia_classificacao
INCIDENTE          17
ACIDENTE           15
INCIDENTE GRAVE     5
dtype: int64

In [71]:
filtro1 = df.ocorrencia_dia.dt.year == 2010
filtro2 = df.ocorrencia_uf.isin(['SP','MG','ES','RJ'])
dfsudeste2010 = df.loc[filtro1 & filtro2]
dfsudeste2010

     codigo_ocorrencia  ...  ocorrencia_dia_hora
0                40211  ...  2010-01-03 12:00:00
2                40351  ...  2010-01-03 03:00:00
9                39711  ...  2010-01-10 20:00:00
11               40069  ...  2010-01-10 14:50:00
16               39809  ...  2010-01-15 15:00:00
..                 ...  ...                  ...
541              43722  ...  2010-12-23 11:00:00
544              43548  ...  2010-12-26 22:10:00
548              43724  ...  2010-12-29 12:00:00
550              43730  ...  2010-12-30 18:10:00
551              43975  ...  2010-12-30 14:28:00

[228 rows x 11 columns]

In [72]:
dfsudeste2010.groupby (['ocorrencia_classificacao']).size()

ocorrencia_classificacao
ACIDENTE            40
INCIDENTE          170
INCIDENTE GRAVE     18
dtype: int64

In [73]:
dfsudeste2010.count()

codigo_ocorrencia           228
codigo_ocorrencia2          228
ocorrencia_classificacao    228
ocorrencia_cidade           228
ocorrencia_uf               228
ocorrencia_aerodromo        127
ocorrencia_dia              228
ocorrencia_hora             228
investigacao_status         202
total_recomendacoes         228
ocorrencia_dia_hora         228
dtype: int64

In [75]:
dfsudeste2010.groupby(['ocorrencia_classificacao','ocorrencia_uf']).size()

ocorrencia_classificacao  ocorrencia_uf
ACIDENTE                  MG                7
                          RJ                9
                          SP               24
INCIDENTE                 ES                5
                          MG               39
                          RJ               52
                          SP               74
INCIDENTE GRAVE           MG                5
                          RJ                4
                          SP                9
dtype: int64

In [76]:
dfsudeste2010.groupby(['ocorrencia_cidade']).size().sort_values(ascending=False)

ocorrencia_cidade
RIO DE JANEIRO           47
SÃO PAULO                33
GUARULHOS                18
BELO HORIZONTE           17
CAMPINAS                 13
MACAÉ                    12
CONFINS                   7
UBERLÂNDIA                5
VITÓRIA                   4
JUIZ DE FORA              4
SÃO JOSÉ DO RIO PRETO     3
SÃO JOSÉ DOS CAMPOS       3
MARÍLIA                   3
ARARAQUARA                2
MONTES CLAROS             2
CAMPOS DOS GOYTACAZES     2
DIVINÓPOLIS               2
IPATINGA                  2
ITANHAÉM                  2
JUNDIAÍ                   2
POÇOS DE CALDAS           2
RIBEIRÃO PRETO            2
SOROCABA                  2
UBERABA                   2
BAURU                     2
AREALVA                   2
BOITUVA                   1
BOCAINA                   1
BOM JESUS DO AMPARO       1
BOM JESUS DO GALHO        1
BEBEDOURO                 1
BRAGANÇA PAULISTA         1
BROTAS                    1
CAJOBI                    1
ARRAIAL DO CABO           1
CAMANDUCAIA               1
TIMÓTEO                   1
ARAÇATUBA                 1
CASIMIRO DE ABREU         1
SANTOS                    1
COROMANDEL                1
OLÍMPIA                   1
RESENDE                   1
POUSO ALEGRE              1
PIRASSUNUNGA              1
PIRACICABA                1
PIACATU                   1
PENÁPOLIS                 1
PARÁ DE MINAS             1
NOVO HORIZONTE            1
COSMÓPOLIS                1
MANGARATIBA               1
LINHARES                  1
SÃO BERNARDO DO CAMPO     1
ITÁPOLIS                  1
IPERÓ                     1
SERRA NEGRA               1
DIAMANTINA                1
AMERICANA                 1
dtype: int64

In [79]:

filtro1 = dfsudeste2010.ocorrencia_cidade == 'RIO DE JANEIRO'
filtro2 = dfsudeste2010.total_recomendacoes > 0
dfsudeste2010.loc[filtro1 & filtro2]

     codigo_ocorrencia  ...  ocorrencia_dia_hora
119              40190  ...  2010-04-06 02:35:00
274              41750  ...  2010-07-12 19:53:00
326              42250  ...  2010-08-12 12:26:00

[3 rows x 11 columns]

In [82]:
dfsudeste2010.groupby(['ocorrencia_aerodromo'], dropna=False).total_recomendacoes.sum()

ocorrencia_aerodromo
SBAE     0
SBAQ     0
SBBH     0
SBBP     9
SBBU     0
SBCF     0
SBGL     3
SBGR     0
SBIP     0
SBJD     7
SBJR     3
SBKP     0
SBME     0
SBMK     0
SBML     0
SBMT    27
SBPC     0
SBPR     1
SBRJ    19
SBRP     0
SBSJ     0
SBSP     0
SBSR     0
SBUL     0
SBUR     0
SBVT     0
SDAM     0
SDOI     1
SDPW     0
SDPY     0
SNDT     0
SNDV     0
SNXT     0
NaN     45
Name: total_recomendacoes, dtype: int64

In [88]:
filtro = dfsudeste2010.total_recomendacoes > 0
dfsudeste2010.loc[filtro].groupby(['ocorrencia_cidade']).total_recomendacoes.sum().sort_values()

ocorrencia_cidade
BOITUVA                   1
BOM JESUS DO GALHO        1
ITANHAÉM                  1
BELO HORIZONTE            2
SÃO BERNARDO DO CAMPO     2
IPERÓ                     3
NOVO HORIZONTE            3
TIMÓTEO                   3
JUNDIAÍ                   7
RESENDE                   8
BRAGANÇA PAULISTA         9
CAMANDUCAIA               9
RIO DE JANEIRO           25
SÃO PAULO                41
Name: total_recomendacoes, dtype: int64

In [90]:
dfsudeste2010.loc[filtro].groupby(['ocorrencia_cidade', dfsudeste2010.ocorrencia_dia.dt.month]).total_recomendacoes.sum()

ocorrencia_cidade      ocorrencia_dia
BELO HORIZONTE         2                  1
                       3                  1
BOITUVA                7                  1
BOM JESUS DO GALHO     12                 1
BRAGANÇA PAULISTA      11                 9
CAMANDUCAIA            7                  9
IPERÓ                  1                  3
ITANHAÉM               9                  1
JUNDIAÍ                5                  5
                       6                  2
NOVO HORIZONTE         7                  3
RESENDE                4                  8
RIO DE JANEIRO         4                  3
                       7                  3
                       8                 19
SÃO BERNARDO DO CAMPO  1                  2
SÃO PAULO              1                  8
                       2                 14
                       6                  2
                       11                 6
                       12                11
TIMÓTEO                2                  3
Name: total_recomendacoes, dtype: int64

In [91]:
filtro1 = dfsudeste2010.total_recomendacoes > 0
filtro2 = dfsudeste2010.ocorrencia_cidade == 'SÃO PAULO'
dfsudeste2010[filtro1 & filtro2]

     codigo_ocorrencia  ...  ocorrencia_dia_hora
11               40069  ...  2010-01-10 14:50:00
58               39275  ...  2010-02-10 09:03:00
63               39992  ...  2010-02-17 20:07:00
219              41411  ...  2010-06-08 19:30:00
469              43450  ...  2010-11-04 10:55:00
530              43471  ...  2010-12-14 20:15:00

[6 rows x 11 columns]